<section class="sofa-company">
    <div class="sofa-company__details">
        <h2>About Our Sofa Company</h2>
        <p>Comfort Couch Co. is a leading provider of high-quality, luxurious sofas. Founded in 2000, we have been delivering comfort and style to homes all over the world. Our sofas are designed with the utmost attention to detail and are built to last.</p>
        <p>With a wide range of styles, colors, and sizes, we have a sofa to fit every home and lifestyle. Whether you're looking for a cozy loveseat for a small apartment or a spacious sectional for a large living room, Comfort Couch Co. has you covered.</p>
        <p>We are committed to sustainability and use eco-friendly materials in all our products. We believe in creating not just comfortable sofas, but also a comfortable planet for future generations</p>
    </div>
    <div class="sofa-company__photos">
        <div class="top">
            <img class="small" src="/images/img/main6.jpg" alt="Sofa 1">
            <img class="small" src="/images/img/main7.jpg" alt="Sofa 2">
        </div>
        <img class="large" src="/images/img/main8.jpg" alt="Sofa 3">
    </div>
</section>